.goBackBtn {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 18px; */
    text-transform: uppercase;
    background-color: transparent;
    color: #FAFAFA;
    text-decoration: none;


    position: absolute;
    bottom: 64px;
    right: 32px;

    padding: 12px 26px;

    border-radius: 1000px;
    border: 1px solid #98979780;
    will-change: transform;
    transition: transform 0.3s ease;
    outline: none;
    cursor: pointer;

}

.goBackBtn:is(:hover, :active) {
    transform: scale(1.1);
}