
.title {
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.88px;
  text-transform: uppercase;
  margin-bottom: 64px;
  color: #FAFAFA;
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
}

.LastComicsPaginations {
  display: flex;
  width: 104px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 128px;

}

.arrowR,
.arrowL {
  fill: #FAFAFA;
  background-color: #34387F;
  border: 1px solid #9795956f;
  border-radius: 50%;

  height: 40px;
  width: 40px;
  will-change: transform;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrowR svg,
.arrowL svg {
  width: 24px;
  height: 24px;

}

.arrowR:is(:hover, :active),
.arrowL:is(:hover, :active) {
  transform: scale(1.05);
}

.inactive {
  border: 1px solid #9191915a;
  fill:#9191915a;
  background-color: transparent;
}

