.titleBlock {
  font-size: 44px;
  color: #fafafa;
  line-height: 44px;
  font-weight: 400;
  text-transform: uppercase;
}

.container {
  margin-top: 300px;
  margin-left: 32px;
}

.comicsList{
  margin-top: 64px;
display: flex;
  overflow-x: auto; 
  gap: 16px;
 
}


.item {
  flex: 0 0 auto;
  /* Элементы не будут растягиваться или сжиматься */
}