.react-datepicker {
    background-color: #171717;
    border-radius: 20px;
    border-color: transparent;
    padding: 0;
    width: 166px
}

.react-datepicker__header {
    background-color: #171717;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px !important;
    border-bottom-color: #34387F;
}

.react-datepicker div {
    font-family: 'Poppins', sans-serif;
    color: #FAFAFA;
}

.react-datepicker__day .react-datepicker__day--030 .react-datepicker__day--selected .react-datepicker__day--today {
    background-color: #34387F;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
    border-radius: 0.3rem;
    background-color: #fafafa66;
    color: #fafafa !important;
    transform: scale(1.4);
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    border-radius: 0.3rem;
    background-color: #34387F;
    color: rgb(0, 0, 0);
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
    cursor: pointer;
    color: #fafafa66 !important;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
    border-top: none;
    border-bottom-color: #34387f;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    transform: scale(1.4);
    color: #fafafa !important;
}

.react-datepicker__year-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.react-datepicker__year {
    margin-left: 0;
    margin-right: 0;
}

.react-datepicker__navigation-icon--previous:before {
    right: -2px;
}

.react-datepicker__navigation-icon--next:before {
    left: -2px;
}

.react-datepicker__year--container {
    width: 100%;
}

.react-datepicker__year,

.react-datepicker {
    width: 166px;
}

.react-datepicker__year .react-datepicker__year-text {
    display: inline-block;
    width: calc(150px - 30px);
    font-size: 14px;
    margin: 3px;
}

.react-datepicker__year .react-datepicker__year-text>span {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.react-datepicker__close-icon {
    right: 30%;
}

.react-datepicker__close-icon::after {
    cursor: pointer;
    background-color: #34387f;
    color: #fafafa;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    content: '×';
}

