

 .form,
 .input::placeholder {
   color: #fafafa;
   font-size: 14px;
   font-weight: 500;
   line-height: 14px;
   text-transform: uppercase;
 }

 .form {
   background-color: transparent;
   box-shadow: 0px 0px 1px 0px #fafafa66;
   border: 1px solid #fafafa66;
   border-radius: 1000px;
   max-width: 130px;
  padding: 12px 24px 12px 42px;
   position: relative;
    transition: transform 0.3s ease;
 }

 .input {
   background: transparent;
   border: none;
   outline: none;
   color: inherit;
   width: 100%;
   text-transform: uppercase;
 }

 .icon {
   position: absolute;
   width: 16px;
   height: 16px;
   left: 18px;
   top: 50%;
   cursor: pointer;
   transform: translateY(-50%);
   will-change: transform;
   transition: transform 0.2s ease;
 }

 .icon:hover {
   transform: scale(1.2) translateY(-50%);
 }




 .form:is(:hover, :active) {
   transform: scale(1.1);
 }