.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  border: 1px solid #98979780;

  padding: 12px 24px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 14px;
    text-transform: uppercase;
    color: #fafafa;
    transition: transform 0.3s ease;
  
}


.searchBtn:is(:hover, :active) {
  transform: scale(1.1);
}


.searchIcon {
margin-right: 8px;
}
