@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');




body {

  margin: 0;
  font-family: 'Poppins', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  
    /* -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;
 
    user-select: none; */
  

  font-weight: 400;
  background-color: black;
  will-change: transform, scale;
}

#modal:has(div) {
  position: sticky;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 165165165165165;
}
 

html::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ol,
span,
ul,
ol {
  margin: 0;
  padding: 0;
}

ol,
li {
  list-style: none;
}



